body{
    font-family: 'Radley', Times, serif;
    width: 100vw;
    display:block;
    margin: 0;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 0 !important;
}
.backdrop{
    top: 0;
    position: fixed;
    image-rendering: auto; 
    background-repeat: no-repeat;
    z-index: -1;
}
a{
    text-decoration: none;
}
nav{
    justify-content: flex;
    position: sticky top;
    height: 3vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 1.5%;
}
.logo{
    margin-left: 3em;
    margin-right: 30em;
}
.logo h2{
    padding-left: 1em;
    padding-right: 1em;
    border-radius:20px
}
.logo a{
    font-family: radley;
    font-size: 1.5em;
    color: #eeb127;
}
.hero-nav{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    align-self: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.98);
    position: fixed;
    width: 100vw;
}
li{
    list-style: none;
}
nav ul{
    flex-direction: all;
    flex: 1;
    text-align: center;
    margin: 0.5em;
}
nav ul li{
    display: inline;
    margin: 0.8em;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2em;
}
nav ul li a{
    color: #eeb127;
    border-radius: 20px;
    padding: 0.3125em;
    transition: 300ms;
}
nav ul li a:hover{
    background-color: #eeb127;
    color: white;
}
.joinus{
    background-color: black;
    border-radius: 20px;
}
.joinus:hover{
    background-color:#eeb127;
    color: white;
}
.herovideo{
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 1em;
}
span{
    color: #eeb127;
}
.landingContent{
    display: flex;
    float: left;
    box-sizing: border-box;
    font-size: 1.8em;
    margin-top: 7em;
    text-align: center;
    margin-bottom: 10%;
}
.landingContent h1{
    padding: 1%;
}
.maincontainer{
    display: block;
}
.omheader{
    width: 100vw;
    text-align: center;
    margin: 3em;
}
.firstcopy{
    /* margin: 2em; */
    display: flexbox;
    font-size: 1.3em;
    text-align: center;
    line-height: 1.7em;
    padding: 0 1.5em 1.5em 1.5em;
}
.firstparagraph{
    box-sizing: border-box;
    display: inline;
    text-align: center;
    justify-content: center;
    float: right;
    height: auto;
    width: 50%;
    margin: 2em;
}
.africanschoolchildren img{
    top: 0;
    margin-left: 2em;
    /* margin-bottom: 2em; */
    border-radius: 20px;
    height: 90%;
    width: 40%;
    display: block;
    float: left;
}
.secondcopy{
    box-sizing: border-box;
    padding-right: 2em;
    margin-top: 3em;
    float: left;
    width: 100%;
    display: flexbox;
    font-size: 1.3em;
    text-align: center;
    line-height: 1.7em;
    padding: 0 1.5em 1.5em 1.5em;
}
.secondparagraph{
    box-sizing: border-box;
    display: inline;
    text-align: center;
    justify-content: center;
    float: left;
    height: auto;
    width: 50%;
    padding: 2em;
    margin: 2em;
    margin-top: 2em;
}
.schoolpic img{
    top: 0;
    margin-right: 2em;
    margin-left: 1em;
    border-radius: 20px;
    height: 90%;
    width: 40%;
    display: inline;
    float: right;
}
.thirdcopy{
    display: flexbox;
    font-size: 1.3em;
    text-align: center;
    line-height: 1.7em;
    padding: 0 1.5em 1.5em 1.5em;
}
.thirdparagraph{
    box-sizing: border-box;
    display: inline;
    text-align: center;
    justify-content: center;
    float: right;
    height: auto;
    width: 50%;
    margin: 2em;
    margin-top: 4em;
}
.scholarshippic img{
    top: 0;
    margin-left: 2em;
    /* margin-bottom: 2em; */
    border-radius: 20px;
    height: 90%;
    width: 40%;
    display: block;
    float: left;
}
.fourthcopy{
    box-sizing: border-box;
    padding-right: 2em;
    margin-top: 3em;
    float: left;
    width: 100%;
    display: flexbox;
    font-size: 1.3em;
    text-align: center;
    line-height: 1.7em;
    padding: 0 1.5em 1.5em 1.5em;
}
.fourthparagraph{
    box-sizing: border-box;
    display: inline;
    text-align: center;
    justify-content: center;
    float: left;
    height: auto;
    width: 40%;
    padding: 2em;
    margin: 2em;
    margin-top: 2em;
}
.teacherpic img{
    top: 0;
    margin-right: 2em;
    margin-left: 1em;
    border-radius: 20px;
    height: 40%;
    width: 50%;
    display: inline;
    float: right;
}
.fifthcopy{
    display: flexbox;
    font-size: 1.3em;
    text-align: center;
    line-height: 1.7em;
    padding: 0 1.5em 1.5em 1.5em;
}
.fifthparagraph{
    box-sizing: border-box;
    display: inline;
    text-align: center;
    justify-content: center;
    float: right;
    height: auto;
    width: 50%;
    margin: 2em;
    margin-top: 3em;
}
.stempic img{
    top: 0;
    margin-left: 2em;
    margin-top: 2em;
    border-radius: 20px;
    height: 90%;
    width: 40%;
    display: block;
    float: left;
}
.sixthcopy{
    background-color: rgba(238, 177, 39, 0.5);
    box-sizing: border-box;
    padding-right: 2em;
    margin-top: 3em;
    float: left;
    width: 100%;
    display: flexbox;
    font-size: 1.3em;
    text-align: center;
    line-height: 1.7em;
    padding: 0 1.5em 1.5em 1.5em;
}
.sixthparagraph{
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    display: inline;
    text-align: center;
    justify-content: center;
    float: left;
    height: auto;
    width: 50%;
    padding: 2em;
    margin: 2em;
}
.joinusbutton{
    text-align: center;
    display: block;
    float: right;
}