body{
    font-family: 'Radley', Times, serif;
    width: 100%;
    display:block;
    margin: 0;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 0 !important;
}
a{
    text-decoration: none;
}
nav{
    justify-content: flex;
    position: sticky top;
    height: 3vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 1.5%;
}
.logo{
    margin-right: 30em;
}
.logo a{
    font-family: radley;
    font-size: 1.5em;
    color: #eeb127;
}
.hero-nav{
    width: 100vw;
}
li{
    list-style: none;
}
nav ul{
    flex-direction: all;
    flex: 1;
    text-align: center;
    margin: 0.5em;
}
nav ul li{
    display: inline;
    margin: 0.8em;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2em;
}
nav ul li a{
    color: #eeb127;
    border-radius: 20px;
    padding: 0.3125em;
    transition: 300ms;
}
nav ul li a:hover{
    background-color: #eeb127;
    color: white;
}
.joinus{
    background-color: black;
    border-radius: 20px;
}
.joinus:hover{
    background-color:#eeb127;
    color: white;
}
.herovideo{
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    object-fit: cover;
}
span{
    color: #eeb127;
}
.landingContent{
    display: flex;
    float: left;
    box-sizing: border-box;
    font-size: 1.8em;
    margin-top: 10%;
    text-align: center;
    margin-bottom: 10%;
}
.landingContent h1{
    padding: 1%;
}
.omheader{
    width: 100vw;
    text-align: center;
}
.maincopy{
    font-size: 1.2em;
    text-align: center;
    padding: 0 1.5em 1.5em 1.5em;
}